h1,h2,h3,h4,h5,h6 {margin: 0}

.flex{display: flex;}
.flex-1{flex: 1}
.flex-2{flex: 2}
.flex-3{flex: 3}
.flex-4{flex: 4}
.flex-column{flex-direction: column;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.justify-center{justify-content: center;}
.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.align-center{align-items: center;}
.align-end{align-items: flex-end;}
.align-start{align-items: flex-start;}

.opacity-7{opacity: 0.6}
.opacity-9{opacity: 0.9}

.grayscale-30{filter: grayscale(30%)}
.grayscale-20{filter: grayscale(20%)}
.grayscale-10{filter: grayscale(10%)}

.image{width:100%;}

.ls-1{letter-spacing: 1px}
.ls-5{letter-spacing: 0.5px}

.nowrap { white-space: nowrap; }

.square{border-radius: 0 !important}

.pl-0 {padding-left: 0}
.pt-6 {padding-top: 6px}
.pt-12 {padding-top: 12px}
.pr-48 {padding-right: 48px}
.pl-48 {padding-left: 48px}
.mr-6{margin-right: 6px;}
.ml-6{margin-left: 6px;}
.ml-12{margin-left: 12px;}
.mr-12{margin-right: 12px;}
.mb-12{margin-bottom: 12px !important;}
.mt-12{margin-top: 12px;}
.mt-8{margin-top: 8px;}
.mb-18{margin-bottom: 18px;}
.mt-18{margin-top: 18px !important;}
.mb-6{margin-bottom: 6px !important;}
.mr-18{margin-right: 18px;}
.ml-18{margin-left: 18px;}
.mt-24{margin-top: 24px;}
.mr-24{margin-right: 24px;}
.mt-0{margin-top: 0px;}
.mb-0{margin-bottom: 0px !important;}
p.fs-16{font-size: 16px}
.fs-22{font-size: 22px;}
.fs-13{font-size: 13px;}

.red{  color: #bf5329 !important;}
.green{  color: lightgreen !important;}
.orange{  color: #ffc107 !important;}
.bg-lightest-grey { background: hsl(0, 0%, 99%); }
.fw-600 { font-weight: 600 }
.text-bold-grey { font-weight: 600 !important; color: #67737e!important}


.help-block {margin: 3px 0 0 0; color: #a94442}
.help-label {color: #777; font-size: 12px; font-weight: normal;}
.fa-form { font-size: 6px; }
.fa-panel { color: #808080 }
.fa-heading { font-size: 6px; margin: 0 2px; }
.fa-info-circle {margin-left: 6px;}
/*.form-control-feedback {margin-top: 25px}*/
p.required-fields {font-size: 12px; letter-spacing: 0.5px; color: #8c8c8c}

@media only screen and (min-width : 768px)
{
    .custom-flex {display: flex; align-items: center;}
    .custom-flex-1 {flex: 1}
}

@media only screen and (max-width : 768px) {

    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child span {margin-left:15px;}
    .dataTables_wrapper {padding: 10px 0}

    .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        position: relative;
    }

    i.info-recaptcha {
        position: absolute;
        right: 444px;
        top: 20px;
    }
}

@media only screen and (max-width : 480px){
    i.info-recaptcha {
        position: absolute;
        right: 70px;
        top: 20px;
    }

    span.social-service-name{display: none}
    i.fa-social {margin-right: 0;}
}