/*
 * Auth sidebar
 */
ul.side-list { margin: 0 }
li.side-list-group-item{ border: none; border-radius: 0 !important; padding: 5px 15px; }
li.side-list-group-item a { color: inherit; text-decoration: none; letter-spacing: 0.4px;
    font-size: 15px; font-weight: 600 }
li.side-list-group-item:hover a,
li.side-list-group-item:hover button { color: #19b4cc}
li.side-list-group-item.active { background: #fff }
li.side-list-group-item.active a {color: #19b4cc}
li.side-list-group-item.active a:hover { color: #148c9f;}
p.side-list-label { letter-spacing: 0.8px; font-size: 12px; text-transform: uppercase;
    background: #fff; padding: 18px 12px 0px; margin: 0 }
p.side-list-label:first-child{padding-top: 12px;}
button.btn-delete-account {background: none; border: none; color: inherit; letter-spacing: 0.4px;
    font-size: 15px; font-weight: 600}
button.btn-delete-account:focus { outline: none; }

form label {font-weight: bold}
.user-panel h4 {font-size: 20px; font-weight: bold; letter-spacing: 0.7px;}
.user-panel h4 i {color: #8c8c8c}
.user-panel form button {color: #fff; font-weight: 600; font-size: 13px; text-transform: uppercase;
       letter-spacing: 0.2px; }
.user-panel form button:hover,
.user-panel form button:focus{ background: #117888; border-color: #0e6471; color:#fff;}
/*.user-panel form button.btn-danger { background: #c12525; border-color:  #b22222}*/
/*.user-panel form button.btn-danger:hover { background:  #ab2121; border-color:   #961d1d}*/
.user-panel form button.btn-danger { background: #A13666; border-color: #993361}
.user-panel form button.btn-danger:hover { background: #732649; border-color: #60203d}
.user-panel form .form-control:focus { border-color: #e8fafc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02), 0 0 5px rgba(140, 140, 140, 0.6);
}
.user-panel form .form-control-feedback {top: 25px}
.user-panel form .form-group-avatar .form-control-feedback {top: 0px}